# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3
db.sqlite3.backup

# React / Node
node_modules/
.DS_Store

# IDE
.vscode/
.idea/

# SQLite WASM
public/sqljs/

# Binaries & Builds
*.apk
*.exe
yugra_guide.apk
frontend/dist/
frontend/electron/dist/
frontend/electron/build/
frontend/electron/node_modules/
frontend/android/app/build/
frontend/android/.gradle/
